<footer>
<nav>
    <a href="https://nicholasgoff.github.io/">CLT Web</a>
    ||
    <a href="https://github.com/nicholasgoff/nicholasgoff.github.io">Github</a>
    ||
    <a href="https://nicholasgoff.github.io/itis3135/">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/Ngoff">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/Ngoff">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/nicholas-goff-118a0a276/">LinkedIn</a>
    ||
    <a href="https://nicholasgoff.github.io/itis3135/evaluations/website_evaluations">Website Evaluations</a>
    ||
    <a href="https://nicholasgoff.github.io/itis3135/hobby/index">Hobby</a>

</nav>
<p>Page Built by <a href="goff-designs.com/index.html">By Goff Designs</a> &copy;2025, 
    <a href="https://www.freecodecamp.org/certification/Ngoff/responsive-web-design" 
    style="font-style: italic;"> Certified in Responsive Web Design</a></p>
</footer>